{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<div>
    <div class="heading">
        <h1 style="color: black; text-align: center;">INDIAN TOURS</h1>
        <p style="color: darkmagenta; text-align: center;">Adventure Awaits</p>
    </div>

    <div>
        <img src="{% static 'mountain_pick.webp' %}" alt="image" style="width: 2000px; height: 700px;">
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Indian Tours Travel Agency in Coimbatore & Chennai</h1>
            <p style="color: darkmagenta; text-align: center;">Explore the World with Us!</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'man_1.webp' %}" alt="Pykara Lake" class="img-fluid">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'man_2.webp' %}" alt="Photo 2" class="img-fluid" style="height: 100%;">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'man_3.webp' %}" alt="Photo 3" class="img-fluid" style="height: 100%;">
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Choose your Trip!</h1>
            <p style="color: darkmagenta; text-align: center;">Explore your dream destinations with Aspire Holidays, the best travel agency in Coimbatore & Chennai. Just share your idea and we will take care of everything.</p>
        </div>

        <div>
            <img src="{% static 'church.jpg' %}" alt="image" style="width: 1500px; height: 800px;">
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Stressfree Holidays with Indian Tours</h1>
            <h1 style="color: black; text-align: center;">Your Journey Starts Here!</h1>
            <p style="color: darkcyan; text-align: center;">Aspire Holidays is one of the best travel agencies in South India. We make your next trip truly special. Our friendly and experienced team plans everything based on your needs, so you can enjoy a holiday with great memories.</p>
        </div>

        <div>
            <img src="{% static 'parisImage.webp' %}" alt="image" style="width: 800px; height: 500px;">
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Leading Travel Agency In Chennai</h1>
            <h1 style="color: black; text-align: center;">Explore Destinations Across the Globe!</h1>
            <p style="color: darkcyan; text-align: center;">Explore Thailand, Malaysia, Europe, Bali, and more with your friends and family. Aspire Holidays offers customized travel packages to make every trip truly special.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'ooty_img.webp' %}" alt="Pykara Lake" class="img-fluid">
                    <p style="text-align: center;">OOTY</p>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'pondy_museum.webp' %}" alt="Photo 2" class="img-fluid" style="height: 80%; width: 100%;">
                    <p style="text-align: center;">PONDY</p>
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'kochi-water-falls.jpg' %}" alt="Photo 3" class="img-fluid">
                    <p style="text-align: center;">KOCHIN</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Best Travel Plans For You</h1>
            <p style="color: darkmagenta; text-align: center;">Explore where to go next—our blogs guide you through the best destinations and hidden treasures.</p>
        </div>

        <div>
            <img src="{% static 'visa.webp' %}" alt="image" style="width: 100%; height: 600px;">
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">What Our Clients Say!</h1>
        </div>

        <div>
            <img src="{% static 'mak.jpg' %}" alt="image" style="width: 1500px; height: 500px;">
        </div>

        <div class="heading">
            <h1 style="color: black; text-align: center;">AMAZING EXPERIENCE</h1>
            <p style="color: darkblue; text-align: center;">Visiting the Taj Mahal for the first time was unforgettable.</p>
        </div>
    </div>

    <div>
        <div class="heading">
            <h1 style="color: black; text-align: center;">Contact With Us</h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h1 style="color: black;">Coimbatore</h1>
                    <h2 style="color: darkcyan;">Coimbatore</h2>
                    <p style="color: black;">Ram Nagar, CBE</p>
                    <p style="color: black;">Mobile: 7904762362</p>
                </div>
                <div class="col-sm-4">
                    <h2 style="color: darkcyan;">Chennai</h2>
                    <p style="color: black;">Mahendra City, Chengalpet</p>
                    <p style="color: black;">Mobile: 7904762362</p>
                </div>
                <div class="col-sm-4">
                    <h2 style="color: darkcyan;">Erode</h2>
                    <p style="color: black;">Perundurai</p>
                    <p style="color: black;">Mobile: 7904762362</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}